*::before,*::after {
    box-sizing:border-box;
}

body {
    margin: 0;
    width:unset;
    height:unset;
    font-size: 15px;
    font-family: Outfit; 
    background-color:hsl(212, 45%, 89%)
}

.container { 
    width: 270px;
    max-width:270px;
    max-height:475px;
    height:457px;
    margin:150px auto;
    background-color:hsl(0, 0%, 100%);
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding:14px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container .heading {
    color:black;
    font-weight:600;
    font-size:20px;
    margin-bottom:0px;
    padding-right: 10px;
    padding-left:10px;
    position: relative;
    top:14px;
} 

.container .description {
    color:hsl(216, 15%, 48%, 90%);
    font-size:14.5px;
    font-weight:400;
    padding-left: 10px;
    padding-right: 10px;
    position:relative;
    top:17px
}

img {
    border-radius:16px;
    border:none;
    width:264px;
    height:265px;
    margin-top: -32px;
    margin-left: auto;
    margin-right: auto;
}

.attribution {
	font-size: 11px;
	text-align: center;
    margin-top: -120px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}