*::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background-color: hsl(0, 0%, 8%);
    font-size:14px;
    overflow: hidden;
}

.container {
    width:320px;
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:18px 18px 22px 18px;
    border-radius:10px;
    font-family:'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    margin:22px auto 2px auto;
    border:none;
}

.user-pic {
    border-radius:50%;
    object-fit: cover;
    border:none;
}

.name {
    font-size:22px;
    color: hsl(0, 0%, 100%);
    margin:14px auto 0 auto;
    font-weight:600;
    letter-spacing: 0.2px;
    font-family:Inter;
}

.location {
    color: hsl(75, 94%, 57%);
    margin:6.5px auto 8px auto;
    font-size:13px;
    word-spacing: -0.5px;
    font-weight: 600;
    font-family:Inter;
}

.bio {
    color: rgb(179, 164, 164);
    font-size:14px;
    font-weight: 400;
    margin-bottom:24px;
    font-family:Inter;
}

.social {
    height:100%;
    width:92%;
    padding:12px;
    margin:0 0 13px 0;
    border-radius:8px;
    border:none; 
    background-color:hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    letter-spacing: 0.2px;
    font-weight: 600;
    font-family:Inter;
}

.social:hover {
    background-color:hsl(75, 94%, 57%);
    color:hsl(0, 0%, 8%);
    cursor:pointer ;
    transition:0.2s ease;
    font-weight: 700;
}